.form-field {

}


.login-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding-top: 15em;
}

.card-container {
    background: #fff;
    text-align: center;
    padding: 30px;
    
    width: 25%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px hsl(273, 38%, 28%);
}

input[type=text], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    padding: 15px 32px;
    outline: none;
    text-decoration: none;
    width: 80%;
    margin: 10px;
    border-radius: 5px;
}


.btn-login {
    border: 2px solid rgba(119,0,255,1);
    color: black;
    padding: 15px 80px;
    text-align: center;
    background-color: white;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    transition-duration: 0.2s;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-login:active {
    background-color: rgba(119,0,255,1);
    color: white;
}

.btn-login:hover {
    background-color: rgba(119,0,255,1);
    color: white;
}

