.navbar {
    background: #fff;
    border-radius: 10px;
    position: relative;
    height: 2em;
    box-shadow: 0 5px 5px 0px hsl(263, 39%, 43%);
}

.nav-list { 
    list-style-type: none;
    overflow: hidden;
}
.nav-item {
    float: left;
}

.nav-item-right {
    float: right;
}

.nav-item-right .nav-link-button {
    color: black;
    text-align: center;
    padding: 5px 16px;
    display: block;
    text-decoration: none;

}

.nav-item-right .nav-link-button:hover {
    border-bottom: 3px solid rgba(119,0,255,1);
    
}
.nav-item .nav-link{
    display: block;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    color: #000000;
}

.nav-item .nav-link:hover {
    border-bottom: 3px solid hsl(273, 55%, 45%);
    background-color: hsl(0, 0, 20);
}

.footer {
    background: #fff;
    border-radius: 10px;
    position: fixed;
    justify-content: center;
    line-height: 5px;
    height: 3rem;
    display: flex;
    vertical-align: middle;
    bottom: 1rem;
    width: 99%;
    align-content: center;
    box-shadow: 0 20px 20px 0px hsl(273, 38%, 28%);
}

.footer-center {
    text-align: center;
}

html {
    
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
      background: rgb(121, 9, 81);
      background: linear-gradient(342deg, rgba(88, 9, 121, 1) 0%, rgba(119,0,255,1) 97%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
  }