<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin settings</title>
    <link th:href="@{./css/main.css}" rel="stylesheet" />

</head>

<body>
    <header>
        <div class="navbar">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <div sec:authorize="hasAuthority('ADMIN')">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>

                <li class="nav-item-right" sec:authorize="isAuthenticated()">
                    <form id="logout" method="POST" th:action="@{/logout}">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    </form>
                    <a class="nav-link-button" onclick="document.forms['logout'].submit()">logout</a>
                </li>
            </ul>
        </div>
    </header>

    <div class="container" id="app">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Add Remove Table Row Dynamically In VueJs</div>
                <div class="panel-body">
                    <button @click="addRow">Test</button>
                    <table class="table table-bordered">
                        <thead class="text text-success">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile Number</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for='(user, index) in users'>
                                <td>
                                    <input v-model="user.name" class="form-control" type="text" />
                                </td>
                                <td>
                                    <input v-model="user.email" class="form-control" type="text" />
                                </td>
                                <td>
                                    <input v-model="user.mobno" class="form-control" type="text" />
                                </td>
                                <td>
                                    <i @click="deleteRow(index)" class="fa fa-remove"
                                        style="font-size:25px;color:red;cursor:pointer"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </form>
            </div>
        </div>
    </div>
    
    <footer class="footer">
        <div class="footer-center">
            <h4>Erik Ulavere</h4>
        </div>
    </footer>

    <script type="text/javascript" th:src="@{./js/vue.js}"></script>
    <script th:src="@{./js/axios.min.js}"></script>
    <script th:src="@{./js/main.js}"></script>
    
</body>

</html>