<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link th:href="@{./css/main.css}" rel="stylesheet" />
</head>

<body>
    <div>
        <header>
            <div class="navbar">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <div sec:authorize="hasAuthority('ADMIN')">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Admin</a>
                        </li>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" href="/settings">Settings</a>
                    </li>

                    <li class="nav-item-right" sec:authorize="isAuthenticated()">
                        <form id="logout" method="POST" th:action="@{/logout}">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                        </form>
                        <a class="nav-link-button" onclick="document.forms['logout'].submit()">logout</a>
                    </li>
                </ul>
            </div>
        </header>
        
        <div sec:authorize="isAuthenticated()">
            <h1>Home</h1>
            <span sec:authentication="principal.authorities"></span>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-center">
            <h4>Erik Ulavere</h4>
        </div>
    </footer>
</body>

</html>