<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link th:href="@{./css/login.css}" rel="stylesheet" />
    <link th:href="@{./css/main.css}" rel="stylesheet"/>
</head>

<body>
    <header>
        <div class="navbar">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="login-container">
        <div class="card-container">
            <form method="POST" th:action="@{/login}" class="form-signin">
                    <h2>Login</h2>
                    <input name="username" type="text" class="form-control form-field" placeholder="Username"
                        autofocus="true" />
                    <input name="password" type="password" class="form-control form-field" placeholder="Password" />
                    <span class="has-error" th:text="${error}"></span>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    <button type="submit" class="btn-login">Log in</button>
                
            </form>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-center">
            <h4>Erik Ulavere</h4>
        </div>
    </footer>
</body>

</html>